Flask==2.3.2
Flask_Cors==4.0.0
Flask_Mail==0.9.1
google_pasta==0.2.0
imageio==2.31.1
imgaug==0.4.0
keras==2.11.0
keras_flops==0.1.2
neural_compressor==2.2
numpy==1.24.4
opencv_contrib_python==4.5.5.64
opencv_python==4.8.0.74
pywinauto==0.6.8
selenium==4.10.0
tensorflow==2.11.1
tensorflow_intel==2.11.1
torch==2.0.1
torchvision==0.15.2
